# Directories
.vs/
bin/
bin-int/

# Files
*.user
Makefile 

#Codelite

Debug
Release
Release_gcc_unicode
DebugUnicode
*.project
*.session
*.tags
*.d
*.o
*.pyc
bin
bin/ofMaker
lib
*.mk
*.workspace.session
*.workspace
compile_flags.txt
Makefile
.codelite/
.build-debug/

imgui.txt